<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<connectionStrings>  
  <add name="FriendshipFirstEntities" connectionString="metadata=res://*/FF.csdl|res://*/FF.ssdl|res://*/FF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.56.130.111;initial catalog=FriendshipFirst;persist security info=True;user id=sa;password=zaq1XSW2cde#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>